.flexbox {
    display: flex;
    border: 2px solid blue;
    padding: 20px;
}

.item {
    border: 2px solid red;
    padding: 20px;
}
#box1 {
    justify-content: space-evenly;
    background-color:rgb(35, 56, 89);
}

#box2 {
    
    padding: 5px;
    justify-content: center;
   

}

#box3 {
    justify-content: center;
    background-color: lightgray;
}

#box4 {
    justify-content: center;
    

}